
/* responsive */

@media(max-width: 1199px){
    .container{
        max-width: 100%;
        --bs-gutter-x: 30px;
    }
}

@media(max-width: 991px){
    .header{
        padding: 12px 0;
    }
.header-backdrop,
.header-close-btn,
.header-hamburger-btn{
    display: block;
}
.header-hamburger-btn{
    height: 34px;
    width: 40px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.header-hamburger-btn span{
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--black-90);
    position: relative;
    margin: auto;
}

