
/* responsive */

@media(max-width: 1199px){
    .container{
        max-width: 100%;
        --bs-gutter-x: 30px;
    }
}

@media(max-width: 991px){
    .header{
        padding: 12px 0;
    }
.header-backdrop,
.header-close-btn,
.header-hamburger-btn{
    display: block;
}
.header-hamburger-btn{
    height: 34px;
    width: 40px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.header-hamburger-btn span{
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--black-90);
    position: relative;
    margin: auto;
}
.header-hamburger-btn span::before,
.header-hamburger-btn span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black-90);
}
.header-hamburger-btn span::before{
    top: -7px;
}
.header-hamburger-btn span::after{
    top: 7px;
}
.header-close-btn{
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    position: absolute;
    left: 15px;
    top: 15px;
    color: var(--WHITE);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}


