<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {% block title %}Edupulse{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    class=""
    href="{{}}"
    disabled
    />
  </head>

  <body>

    <!-- header same as in courses.html -->
    <header class="header">
        <div class="container">
            <div class="header-main d-flex justify-content-between align-items-center">
                <div class="header-logo">
                    <a href=""><span>edu</span>pulse</a>
                </div>
                
            </div>
        </div>
    </header>
        
    </body>
    </html>
    

