<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {% block title %}Edupulse{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    href="{{}}"
    />
    <link
    rel="stylesheet"
    class=""
    href="{{}}"
    disabled
    />
  </head>

  <body>

    <!-- header same as in courses.html -->
    <header class="header">
        <div class="container">
            <div class="header-main d-flex justify-content-between align-items-center">
                <div class="header-logo">
                    <a href=""><span>edu</span>pulse</a>
                </div>
                <button type="button" class="header-hamburger-btn js-header-menu-toggler">
                    <span></span>   
                </button>
                <div class="header-backdrop js-header-backdrop"></div>
                <nav class="header-menu js-header-menu">
                    <button type="button" class="header-close-btn js-header-menu-toggler">
                        <i class="fas fa-times"></i>
                    </button> 
                    <ul class="menu">
                        <li class="menu-item"><a href="">home</a></li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="js-toggler-sub-menu">courses <i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu js-sub-menu">
                                <li class="sub-menu-item"><a href="">courses</a></li>
                                <li class="sub-menu-item"><a href="">course details</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="js-toggle-sub-menu">pages <i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu js-sub-menu">
                                <li class="sub-menu-item"><a href="">log in</a></li>
                                <li class="sub-menu-item"><a href=""> sign up</a></li>
                            </ul>
                            </li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
        
    <!-- breadcrumb -->
    <div class="breadcrumb-nav">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="">home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">about us</li>
                </ol>
            </nav>
        </div>
        </div>

    <!-- about us content --> 
    <section class="about-us-section section-padding">
        <div class="container">
            <h2 class="title text-center">about us</h2>
            <p class="text-center">empowering learners around the globe to achieve their educational and career goals</p>

    <!-- our story -->
    <div class="about-us-story mt-5">
        <h3>our story</h3>
        <p>our journey began with a vision to harness the transformative power of technology to democratize education. we aspired to create an inclusive learnig environment that transcends physical and socio-economic barriers, making quality education accessible to all</p>
    </div>

    <!-- what we offer -->
    <div class="about-us-offer">
        <h3>what we offer</h3>
        <p>we provide a comprehensive range of courses in key areas such as data analytics, web development, app development and cybersecurity all designed by industry experts. our platform caters to diverse learning preferences through engaging video tutorials, interactive quizzes ad practical projects</p>
    </div>

    <!-- our vision and values -->
    <div class="about-us-vision">
        <h3>our vision and values</h3>
        <p>at the heart of our mission is the belief that eduction is the most powerful tool for personal and professional transformation. we are committed to integrity, innovation and inclusivity striving to build a supportive community where learners can thrive</p>
    </div>
    
    <!-- looking ahead -->
    <div class="about-us-future">
        <h3>looking ahead</h3>
        <p>as we look to the future, we remain dedicated to enhancing our educational offerings and exploring innovativetechnologies to enrich the learning experience. join us on this journey to unlock your potential and achieve your dreams</p>
    </div>
  </div>
 </section> 
 
 
<!-- footer same as in courses.html -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <h3 class="footer-logo"><span>edu</span>pulse</h3>
                        <ul>
                            <li><a href="">about</a></li>
                            <!-- corrected link-->   
                            <li><a href="">what we offer</a></li>
                            <li><a href="">careers</a></li>
                            <!-- corrected link -->
                            <li><a href="">blog</a></li>
                            <!-- corrected link -->
                        </ul>
                    </div>
                </div>
                <div class=""
            </div>
        </div>
    </div>
</footer>
    </div>
    </body>
    </html>
    

