<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>EduPulse</title>
</head>
<body>
    <!-- Main wrapper Start -->
    <div class="main-wrapper">
        <header class="header">
            <div class="container">
                <div class="header-main d-flex justify-content-between align-items-center">
                    <div class="header-logo">
                        <a href=""><span>Edu</span>Pulse</a>
                    </div>
                    <button type="button" class="header-hamburger-btn js-header-menu-toggler"></button>
                    <div class="header-backdrop js-header-backdrop">
                    </div>
                    <nav class="header-menu js-header-menu">
                        <button type="button" class="header-close-btn js-header-menu-toggler">
                            <i class ="fas fa-times"></i>
                        </button>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="">home</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="js-toggle-sub-menu">courses <i class="fas fa-chevron-down"></i></a>
                                <ul class="sub-menu js-sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="">course</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="">course details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="js-toggle-sub-menu">pages <i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="sub-menu js-sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="">log in</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="">sign up</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="">contact</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- header end -->
        <section class="banner-section d-flex align-items-center position-relative">
            <!-- Bubble animation started -->
            <div class="bubble-animation">
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
            </div>
            <!-- Bubble animation end -->
        </section>
    </div>
</body>
</html>