<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduPulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color-2.css') }}">
</head>
<body>
    <!-- Main wrapper Start -->
    <div class="main-wrapper">
        <header class="header">
            <div class="container">
                <div class="header-main d-flex justify-content-between align-items-center">
                    <div class="header-logo">
                        <a href=""><span>Edu</span>Pulse</a>
                    </div>
                    <button type="button" class="header-hamburger-btn js-header-menu-toggler"></button>
                    <div class="header-backdrop js-header-backdrop">
                    </div>
                    <nav class="header-menu js-header-menu">
                        <button type="button" class="header-close-btn js-header-menu-toggler">
                            <i class ="fas fa-times"></i>
                        </button>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="">home</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="js-toggle-sub-menu">courses <i class="fas fa-chevron-down"></i></a>
                                <ul class="sub-menu js-sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="">course</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="">course details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="js-toggle-sub-menu">pages <i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="sub-menu js-sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="">log in</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="">sign up</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="">contact</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- header end -->
        <section class="banner-section d-flex align-items-center position-relative">
            <!-- Bubble animation started -->
            <div class="bubble-animation">
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
                <div class="bubble-animation-item"></div>
            </div>
            <!-- Bubble animation end -->
            <!-- Banner section start -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="banner-text">
                            <h2 class="mb-3">
                                An investment in knowledge pays the best interest.
                            </h2>
                            <h1 class="mb-3 text-capitalize">
                                best online platform for learning
                            </h1>
                            <p class="mb-4">
                                Discovering the ideal online learning platform can be transformative for your educational journey. With an abundance of options available, finding the perfect fit requires careful consideration of factors such as course offerings, teaching style, interactivity, and community support. Whether you're looking to master a new skill, advance your career, or indugle in lifelong learning, the right platform can provide the tools and resources necessary to achieve your goals.Explore our curated selection of top-rated online learning platforms and embark on a path to knowledge and growth.
                            </p>
                            <a href="sign-up.html" class="btn btn-theme">join free</a>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last mb-5 mb-md-0">
                        <div class="banner-img">
                            <div class="circular-img">
                                <div class="circular-img-inner">
                                    <div class="circular-img-circle"></div>
                                    <img src="../static/images/banner-img.png" alt="banner img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner section end -->

        <!-- Fun facts section start -->
        <section class="fun-facts-section">
            <div class="container">
                <div class="box py-2">
                    <div class="row text-center">
                        <div class="col-md-6 col-lg-3">
                            <div class="fun-facts-item">
                                <h2 class="style-1">
                                    800k
                                </h2>
                                <p>student's we have</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="fun-facts-item">
                                <h2 class="style-2">500+</h2>
                                <p>courses</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="fun-facts-item">
                                <h2 class="style-3">50+</h2>
                                <p>countries</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="fun-facts-item">
                                <h2 class="style-4">100+</h2>
                                <p>skilled instructors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- fun facts section end -->
        <!-- Courses section start -->
        <section class="courses-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="section-title text-center">
                            <h2 class="title">courses</h2>
                            <p class="sub-title">Find the right course for you</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- courses item start -->
                    <div class="col-md-6 col-lg-3">
                        <div class="course-item">
                            <a href="course-details.html" class="link">
                                <div class="courses-item-inner">
                                    <div class="img-box">
                                        <img src="../static/images/courses/web-development/html.jpg" alt="course img">
                                    </div>
                                    <h3 class="title">html for beginners</h3>
                                    <div class="instructor">
                                        <img src="../static/images/instructor/ashraf.jpg" class="rounded-circle" alt="instructor img">
                                        <span class="instructor-name">Ashraf Asif</span>
                                    </div>
                                    <div class="rating">
                                        <span class="average-rating">(4.5)</span>
                                      <span class="average-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                      </span>
                                      <span class="reviews">(30)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- course item end -->
                    <!-- another course item start -->
                    <div class="col-md-6 col-lg-3">
                        <div class="courses-item">
                            <a href="courses.html">
                                <div class="courses-item-inner">
                                    <div class="img-box">
                                      <img
                                        src="../static/images/courses/web-development/css.jpg"
                                        alt="course img"
                                      />
                                    </div>
                                    <h3 class="title">css for beginners</h3>
                                    <div class="instructor">
                                      <img class="rounded-circle"
                                        src="../static/images/instructor/chitra.jpg"
                                        alt="instructor img"
                                      />
                                      <span class="instructor-name">Chitra Prakash</span>
                                    </div>
                                    <div class="rating">
                                      <span class="average-rating">(4.5)</span>
                                      <span class="average-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                      </span>
                                      <span class="reviews">(30)</span>
                                    </div>
                                    <div class="price">€ 60</div>
                                  </div>
                            </a>
                        </div>
                    </div>
                    <!-- another course item end -->
                    <!-- Course item start -->
                    <div class="col-md-6 col-lg-3">
                        <div class="courses-item">
                          <a href="course-details.html" class="link">
                            <div class="courses-item-inner">
                              <div class="img-box">
                                <img
                                  src="../static/images/courses/web-development/web-development (2).jpg"
                                  alt="course img"
                                />
                              </div>
                              <h3 class="title">Web Development</h3>
                              <div class="instructor">
                                <img
                                  src="../static/images/instructor/ashraf.jpg"
                                  alt="instructor img"
                                />
                                <span class="instructor-name">Ashraf Asif</span>
                              </div>
                              <div class="rating">
                                <span class="average-rating">(4)</span>
                                <span class="average-stars">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="reviews">(150)</span>
                              </div>
                              <div class="price">€ 49</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- Course End -->
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-3">
                      <a href="courses.html" class="btn btn-theme">view all courses</a>
                    </div>
                  </div>
            </div>
        </section>
        <!-- Courses section end -->
        <!-- Footer start -->
        <footer class="footer">
            <div class="footer-top">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                      <h3 class="footer-logo"><span>Edu</span>Pulse</h3>
                      <ul>
                        <li><a href="about.html">about</a></li>
                        <!-- Corrected Link -->
                        <li><a href="./courses.html">what we offer</a></li>
                        <li><a href="careers.html">careers</a></li>
                        <!-- Corrected Link -->
                        <li><a href="blog.html">blog</a></li>
                        <!-- Corrected Link -->
                      </ul>
                    </div>
                  </div>
                  <!-- Second row of the footer -->
                  <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <h3>learning</h3>
                        <ul>
                            <li><a href="pricing.html">pricing</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                      <h3>more</h3>
                      <ul>
                        <li><a href="instructor.html">become a course creator</a></li>
                        <li><a href="#">training webinars</a></li>
                        <li><a href="contact.html">help and support</a></li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="footer-item">
                        <h3>Get in touch</h3>
                    </div>
                  </div>
    </div>
</body>
</html>