<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduPulse courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors/color-2.css') }}" />
</head>
<body>
      <!-- header start -->
  <header class="header">
    <div class="container">
      <div class="header-main d-flex justify-content-between align-items-center">
        <div class="header-logo">
          <a href="{{ url_for('home') }}"><span>Edu</span>Pulse</a>
        </div>
        <nav class="header-menu js-header-menu">
          <ul class="menu">
            <li class="menu-item"><a href="{{ url_for('home') }}">home</a></li>
            <li class="menu-item"><a href="{{ url_for('courses') }}">courses</a></li>
            <li class="menu-item"><a href="{{ url_for('login') }}">log in</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- header end -->
 <!-- breadcrumb start -->
<div class="breadcrumb-nav">
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">courses</li>
          </ol>
      </nav>
  </div>
</div>
<!-- breadcrumb end --> 

<!-- courses section start -->
<section class="courses-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      {% for course in courses %}
        <div class="col-md-6 col-lg-3">
          <div class="courses-item">
            <a href="{{ url_for('course_details', course_id=course.id) }}" class="link">
              
            </a>
          </div>
        </div>
    </div>
  </div>
</section>
  <!-- courses section end -->

  <!-- Footer start -->
  <footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <h3 class="footer-logo"><span>Edu</span>Pulse</h3>
              <ul>
                <li><a href="about.html">about</a></li>
                <!-- Corrected Link -->
                <li><a href="./courses.html">what we offer</a></li>
                <li><a href="careers.html">careers</a></li>
                <!-- Corrected Link -->
                <li><a href="blog.html">blog</a></li>
                <!-- Corrected Link -->
              </ul>
            </div>
          </div>
          <!-- Second row of the footer -->
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
                <h3>learning</h3>
                <ul>
                    <li><a href="pricing.html">pricing</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <h3>more</h3>
              <ul>
                <li><a href="instructor.html">become a course creator</a></li>
                <li><a href="#">training webinars</a></li>
                <li><a href="contact.html">help and support</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
                <h3>Get in touch</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/"
                           ><i class="fab fa-facebook social-icon"></i> facebook</a
                        >
                    </li>
                    <li>
                        <a href="https://twitter.com/"
                           ><i class="fab fa-twitter social-icon"></i> twitter</a
                        >
                    </li>
                    <li>
                        <a href="https://www.instagram.com/"
                           ><i class="fab fa-instagram social-icon"></i>
                            instagram</a
                        >
                    </li>
                    <li>
                        <a href="https://www.youtube.com/"
                           ><i class="fab fa-youtube social-icon"></i> youtube</a
                        >
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"
                           ><i class="fab fa-linkedin social-icon"></i> linkedin</a
                        >
                    </li>
                </ul>
            </div>
          </div>
          </div>
          </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
              <p class="m-0 py-4 text-center">Copyright &copy;2024 EDUPULSE</p>
            </div>
          </div>
          </footer>
          <!-- footer section end  -->
</div>
        <!-- main wrapper end -->
        
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>