<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduPulse courses</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font-awesome.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/colors/color-2.css') }}"
    />
</head>
<body>
      <!-- header start -->
  <header class="header">
    <div class="container">
      <div class="header-main d-flex justify-content-between align-items-center">
        <div class="header-logo">
          <a href="{{ url_for('home') }}"><span>Edu</span>Pulse</a>
        </div>
        <button type="button" class="header-hamburger-btn js-header-menu-toggler">
          <span></span>
        </button>
        <div class="header-backdrop js-header-backdrop"></div>
        <nav class="header-menu js-header-menu">
          <button type="button" class="header-close-btn js-header-menu-toggler">
            <i class="fas fa-times"></i>
          </button>
          <ul class="menu">
            <li class="menu-item"><a href="{{ url_for('home') }}">home</a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="js-toggle-sub-menu">courses <i class="fas fa-chevron-down"></i></a>
              <ul class="sub-menu js-sub-menu">
                 <li class="sub-menu-item"><a href="courses.html">courses</a></li>
                 <li class="sub-menu-item"><a href="course-details.html">course details</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="js-toggle-sub-menu">pages <i class="fas fa-chevron-down"></i></a>
              <ul class="sub-menu js-sub-menu">
                  <li class="sub-menu-item"><a href="log-in.html">log in</a></li>
                  <li class="sub-menu-item"><a href="sign-up.html">sign up</a></li>
              </ul>
            </li>
          
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- header end -->
</body>
</html>