<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduPulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors/color-2.css') }}" />
</head>
<body>
<!-- page loader start -->
<div class="page-loader js-page-loader">
    <div></div>
</div>
<!-- page loader end -->

<!-- main wrapper start -->
<div class="main-wrapper">
    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="header-main d-flex justify-content-between align-items-center">
                <div class="header-logo">
                    <a href="{{ url_for('home') }}"><span>Edu</span>Pulse</a>
                </div>
                <button type="button" class="header-hamburger-btn js-header-menu-toggler">
                    <span></span>
                </button>
                <div class="header-backdrop js-header-backdrop"></div>
                <nav class="header-menu js-header-menu">
                    <button type="button" class="header-close-btn js-header-menu-toggler">
                        <i class="fas fa-times"></i>
                    </button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{{ url_for('home') }}">Home</a></li>
                        <li class="menu-item">
                            <a href="{{ url_for('courses') }}">courses</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="menu-item"><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li class="menu-item"><a href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_admin %}
                        <li class="menu-item"><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- header end -->
    {% block content %}
    <!-- banner section start -->
    <section class="banner-section d-flex align-items-center position-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="banner-text">
                        <h2 class="mb-3">
                            An investment in knowledge pays the best interest.
                        </h2>
                        <h1 class="mb-3 text-capitalize">
                            best online platform for learning.
                        </h1>
                        <p class="mb-4">
                            Discovering the ideal online learning platform can be transformative for your educational journey.Explore our curated selection of top-rated online learning platforms and embark on a path to knowledge and growth.
                        </p>
                        <a href="sign-up.html" class="btn btn-theme">join free</a>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last mb-5 mb-md-0">
                    <div class="banner-img">
                        <div class="circular-img">
                            <div class="circular-img-inner">
                                <div class="circular-img-circle"></div>
                                <img src="../static/images/banner.jpg" alt="banner img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section end -->

    <!-- courses section start -->
    <section class="courses-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-title text-center">
                        <h2 class="title">Additional Courses</h2>
                        <p class="sub-title">Find the right course for you</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for course in courses %}
                <div class="col-md-6 col-lg-3">
                    <div class="courses-item">
                        <a href="{{ url_for('course_details', course_id=course.id) }}" class="link">
                            <div class="courses-item-inner">
                                <div class="img-box">
                                    <img src="{{ url_for('static', filename=course.image) }}"
                                        alt="course img">
                                </div>
                                <h3 class="title">{{ course.title }}</h3>
                                <div class="instructor">
                                    <span class="instructor-name">{{ course.instructor.name }}</span>
                                </div>
                                <div class="rating">
                                    <span class="average-rating">({{ course.average_rating }})</span>
                                    <span class="average-stars">
                                        {% for i in range(course.average_rating|round|int) %}
                                        <i class="fas fa-star"></i>
                                        {% endfor %}
                                        {% if course.average_rating|round != course.average_rating %}
                                        <i class="fas fa-star-half-alt"></i>
                                        {% endif %}
                                        {% for i in range(course.average_rating|round|int, 5) %}
                                        <i class="far fa-star"></i>
                                        {% endfor %}
                                    </span>
                                    <span class="reviews">({{ course.reviews }})</span>
                                </div>
                                <div class="price">{{ course.price }}</div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <a href="{{ url_for('courses') }}" class="btn btn-theme">View All Courses</a>
                </div>
            </div>
        </div>
    </section>
    <!-- courses section end -->
    {% endblock %}
    <!-- footer start -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3 class="footer-logo"><span>Edu</span>Pulse</h3>
                                <ul>
                                    <li><a href="about.html">about</a></li>
                                    <!-- Corrected Link -->
                                    <li><a href="./courses.html">what we offer</a></li>
                                    <li><a href="careers.html">careers</a></li>
                                    <!-- Corrected Link -->
                                    <li><a href="blog.html">blog</a></li>
                                    <!-- Corrected Link -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>learning</h3>
                                <ul>
                                    <li><a href="pricing.html">pricing</a></li>
                                    <li><a href="#">faq</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>more</h3>
                                <ul>
                                    <li><a href="instructor.html">become a course creator</a></li>
                                    <!-- Corrected Typo -->
                                    <li><a href="#">training webinars</a></li>
                                    <li><a href="contact.html">help and support</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>get in touch</h3>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook social-icon"></i> facebook</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter social-icon"></i> twitter</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram social-icon"></i>
                                            instagram</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-youtube social-icon"></i> youtube</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin social-icon"></i> linkedin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <p class="m-0 py-4 text-center">Copyright &copy;2024 EDUPULSE</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->
        </div>
        <!-- main wrapper end -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')
</body>
</html>