<!DOCTYPE html>
<html lang=""en">
  <head>
    <title>{% block title %}edupulse{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name=""viewport" content="width=device-width", initial-scale="1.0"/>
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
    />
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/font-awesome.css') }}" 
    />
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/style.css') }}" 
    />
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/responsive.css') }}" 
      />
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/colors/color-2.css') }}" 
    />
  </head>

  <body>
  
    <!-- header start -->
  <header class="header">
    <div class="container">
      <div class="header-main d-flex justify-content-between align-items-center">
        <div class="header-logo">
          <a href="{{ url_for('home') }}"><span>Edu</span>Pulse</a>
        </div>
        <button type="button" class="header-hamburger-btn js-header-menu-toggler">
          <span></span>
        </button>
        <div class="header-backdrop js-header-backdrop"></div>
        <nav class="header-menu js-header-menu">
          <button type="button" class="header-close-btn js-header-menu-toggler">
            <i class="fas fa-times"></i>
          </button>
          <ul class="menu">
            <li class="menu-item"><a href="{{ url_for('home') }}">home</a></li>
            <li class="menu-item">
              <a href="{{ url_for('courses') }}">courses</a>
            </li>
            <li class="menu-item">
              <a href="{{ url_for('sign_up') }}">sign up</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-nav">
      <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{{ url_for('home') }}">home</a></li>
                <li class="breadcrumb-item active" aria-current="page">log In</li> 
            </ol>
        </nav>
      </div>
    </div>
  <!-- breadcrumb end -->
  
  <!-- login section start -->
  <section class="login-section section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6 col-xl-5">
          <div class="login-form box">
            <h2 class="form-title text-center">Log In to Your Account</h2>
            <form action="{{ url_for('login') }}" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
              </div>
              <button type="submit" class="btn btn-theme btn-block btn-form">log in</button>
              <p class="text-center mt-4 mb-0">Don't have an account ? <a href="{{ url_for('sign_up') }}">Sign Up</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login section end -->

  <!-- footer start -->
  <footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <h3 class="footer-logo"><span>Edu</span>Pulse</h3>
              <ul>
                <li><a href="about.html">about</a></li>
                <!-- Corrected Link -->
                <li><a href="./courses.html">what we offer</a></li>
                <li><a href="careers.html">careers</a></li>
                <!-- Corrected Link -->
                <li><a href="blog.html">blog</a></li>
                <!-- Corrected Link -->
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <h3>learning</h3>
              <ul>
                <li><a href="pricing.html">pricing</a></li>
                <li><a href="#">faq</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <h3>more</h3>
              <ul>
                <li><a href="#">become a course creator</a></li>
                <!-- Corrected Typo -->
                <li><a href="#">training webinars</a></li>
                <li><a href="contact.html">help and support</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-item">
              <h3>get in touch</h3>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fab fa-facebook social-icon"></i>facebook</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-twitter social-icon"></i>twitter</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-instagram social-icon"></i>instagram</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-youtube social-icon"></i>youtube</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-linkedin social-icon"></i>linkedin</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="m-0 py-4 text-center">Copyright &copy;2024 EDUPULSE</p>
      </div>
    </div>
  </footer>
  <!-- footer end -->
  
  </div>
  <!-- main wrapper end -->
  
  
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
  </html>
