<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}EduPulse{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font-awesome.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/colors/color-1.css') }}"
    />
    <link
      rel="stylesheet"
      class="js-glass-style"
      href="{{ url_for('static', filename='css/glass.css') }}"
      disabled
    />
</head>
<body> 

  <!-- header start -->
  <header class="header">
    <div class="container">
      <div class="header-main d-flex justify-content-between align-items-center">
        <div class="header-logo">
          <a href="{{ url_for('home') }}"><span>Edu</span>Pulse</a>
        </div>
  
  
  
  
 <!-- header end -->

 <!-- breadcrumb start -->
 <div class="breadcrumb-nav">
   <div class="container">
     <nav aria-label="breadcrumb">
       <ol class="breadcrumb mb-0">
         <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
       </ol>
     </nav>
    </div>
 </div>
  <!-- breadcrumb end -->

  <!-- signup section start -->
 <section class="signup section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6 col-xl-5">
          <div class="signup-form-box">
            <h2 class="form-title text-center">Create your Account</h2>
            <form action="">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-block btn-theme btn-form">sign up</button>
              <p class="text-center mt-4 mb-0">Already have an account ? <a href="log-in.html">Log In</a></p>
            </form>
          </div>
        </div> 
      </div>
    </div>
 </section>

 <!-- signup section end -->

 <!-- footer start -->
   <footer class="footer">
      <div class="footer-top">
         <div class="container">
           <div class="row">
             <div class="col-sm-6 col-lg-3">
               <div class="footer-item">
                <h3 class="foter-logo"><span>Edu</span>Pulse</h3>
                <ul>
                  <li><a href="about.html">about</a></li>
                  <li><a href="./courses.html">what we offer</a></li>
                  <li><a href="careers.html">careers</a></li>
                  <li><a href="blog.html">blog</a></li>
                </ul>
               </div>
             </div>
             <div class="col-sm-6 col-lg-3">
              <div class="footer-item">
                <h3>learning</h3>
                <ul>
                  <li><a href="pricing.html">pricing</a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
             </div>
             <div class="col-sm-6 col-lg-3">
               <div class="footer-item">
                 <h3>more</h3>
                 <ul>
                   <li><a href="#">become a course creator</a></li>
                   <li><a href="#">training webinars</a></li>
                   <li><a href="contact.html">help and support</a></li>
                 </ul>
               </div>
             </div>
             <div class="col-sm-6 col-lg-3">
              <div class="footer-item">
               <h3>get in touch</h3>
               <ul>
                 <li>
                   <a href="#"><i class="fab fa-facebook social-icon"></i>facebook</a>
                 </li>
                 <li>
                   <a href="#"><i class="fab fa-twitter social-icon"></i>twitter</a>
                 </li>
                 <li>
                   <a href="#"><i class="fab fa-instagram social icon"></i>instagram</a>
                 </li>
                 <li>
                   <a href="#"><i class="fab fa-youtube social-icon">youtube</i></a>
                 </li>
                 <li>
                   <a href="#"><i class="fab fa-linkedin social-icon"></i>linkedin</a>
                 </li>
               </ul>
              </div>
             </div>
           </div>
         </div>
       </div>
       <div class="footer-bottom">
        <div class="container">
         <p class="m-0 py-4 text-center">Copyright &copy;2024 EDUPULSE</p>
        </div>
    </div>
   </footer>
   <!-- footer end -->

  </div>

 
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>