<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up page has been created</title>
</head>
<body> 

 <header>
    <div>
        <div>
            <div>
                <a href=""><span>Edu</span>Pulse</a>
            </div>
            <button> type="button" class="header-hamburger-btn js-header-menu-toggler">
                <span></span>
            </button>
        </div>
    </div>
 </header>   
    
</body>
</html>